﻿@model IEnumerable<Assignment.Models.Inventory>

@{
    ViewData["Title"] = "Equipment";
}

<h1>Rentable equipment</h1>
@Html.BeginForm("ProcessRental", "Inventory", FormMethod.Post)
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Type)</th>
            <th>Days to rent</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <input type="number" min="0" />
                </td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td><input type="submit" value="Rent" /></td>
        </tr>
    </tbody>
</table>
